
<h2>Daily Intake Log</h2>

<section id="dailyLog" ng-repeat="intake in daily.intakeList" ng-controller="DailyController as daily">

<!-- <li>{{intake.volume}},{{intake.date | date}}, {{intake.time | limitTo: 5}}</li> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Volume (in oz)</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{intake.volume}}</td>
        <td>{{intake.date | date}}</td>
        <td>{{intake.time | limitTo: 5}}</td>
      </tr>
    </tbody>
  </table>
</section>
<!--
<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div> -->
