
<h2>Daily Intake Log</h2>

<section id="dailyLog" ng-repeat="intake in daily.intakeList" ng-controller="DailyController as daily">

<!-- <li>{{intake.volume}},{{intake.date | date}}, {{intake.time | limitTo: 5}}</li> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Volume (in oz)</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{intake.volume}}</td>
        <td>{{intake.date | date}}</td>
        <td>{{intake.time | limitTo: 5}}</td>
      </tr>
    </tbody>
  </table>
</section>
