<body>
  <header>
  <nav>
    <ul>
      <li class="nav-item"><a href="/home">Home</a></li>
      <li class="nav-item"><a href="/dailyLog">Daily Log</a></li>
      <li class="nav-item"><a href="/weeklyLog">Weekly Log</a></li>
      <li class="nav-item"><button class="logout" ng-click="home.logout()">Logout</button></li>
    </ul>
  </nav>
  </header>
  <br>

<div class="intakeDiv"><h2>Daily Intake Log</h2></div>

<section id="dailyLog" ng-controller="DailyController as daily">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Volume (in oz)</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="intake in daily.intakeList">
        <td>{{intake.volume}}</td>
        <td>{{intake.date | date}}</td>
        <td>{{intake.time | limitTo: 5}}</td>
      </tr>
    </tbody>
  </table>
</section>
</body>
