<body class="col-xs-10 col-xs-offset-1">
<header>
<nav>
  <ul>
    <li class="nav-item"><a href="/home">Home</a></li>
    <li class="nav-item"><a href="/dailyLog">Daily Log</a></li>
    <li class="nav-item"><a href="/weeklyLog">Weekly Log</a></li>
    <!-- <li class="nav-item"><a href="/settings">Settings</a></li> -->
    <!-- <li><button class="logout" ng-click="home.logout()">Logout</button></li> -->
    <li class="nav-item"><button class="logout" ng-click="home.logout()">Logout</button></li>
  </ul>
</nav>
</header>
<br>

<div class="homeDiv"><h2>Home</h2></div>


<div class="ozDiv">
<input class="ozIn" ng-model="ozIn" type="number" name="volume" min="1" max="24" placeholder="oz">
<button ng-click="home.addIntake(ozIn)" class="addOne">Submit</button>
</div>

</body>
