<h2>Home</h2>

<body>
  <ul class="navigation">
    <li class="nav-item"><a href="/home">Home</a></li>
    <br>
    <li class="nav-item"><a href="/dailyLog">Daily Log</a></li>
    <br>
    <li class="nav-item"><a href="/weeklyLog">Weekly Log</a></li>
    <br>
    <li class="nav-item"><a href="/settings">Settings</a></li>
  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger">
  <label for="nav-trigger"></label>
  <!-- <nav>
    <ul>
      <li><a href="/dailyLog">Daily Log</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/weeklyLog">Weekly Log</a></li>
    </ul>
    <button class="logout" ng-click="home.logout()">Logout</button>
  </nav> -->
<div class="site-wrap">
<input class="ozIn" ng-model="ozIn" type="number" name="volume" min="1" max="24" placeholder="oz">
<button ng-click="home.addIntake(ozIn)" class="addOne">Submit</button>
</div>

</body>
