body {
  background-color: rgba(51,204,255,1.00);
  background-image:
		linear-gradient(64deg, rgba(22,158,247,1.00) 17%, rgba(30,179,248,1.00) 40%, rgba(22,190,226,1.00) 54%, rgba(21,205,223,1.00) 78%, rgba(10,191,193,1.00) 94%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Josefin Sans';
}


h1 {
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 60px;
  color: white;
}

span p a {
  color: #208ED8;
}

h2 {
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 45px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  /*padding: 15px 15px 15px 15px;*/
}

a:hover {
  color: #1BACF8;
}

header {
  background: #303030;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #4C9CF1;
  z-index: 100;
  margin: 0px 0px 100px 0px;
}

nav {
  float: right;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  float: left;
  padding: 10px;
}

.homeDiv, .intakeDiv, .weeklyDiv {
  margin: 80px 80px 80px 80px;
}


/*nav {
  margin: 50px 50px 50px 50px;
  padding: 50px 5px 50px 50px;
  width: 50px;
  float: right;
}

li {
  display: inline-block;
  list-style-type: none;
}

li a {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  background: #2f3036;
}*/

.logout {
  text-transform: uppercase;
  background: linear-gradient(to left, #56ab2f , #a8e063);
}

.logout:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  transition-duration: 0.4s;
}

.loginForm {
  width: 300px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
}

.loginForm h3 {
  background: #4D4D4D;
  text-transform: uppercase;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.loginForm textarea{
  resize: none;
  overflow: hidden;
}

/*Username and Password inputs on login*/
.loginForm input {
  /*box-shadow: inset 0 1px 0 0 #45D6D6;*/
  /*background-color: #2CBBBB;*/
  border-bottom: 2px solid #0CBCBC;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 14px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  text-align: center;
}

.loginButton {
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 10px 20px 10px 20px;
  text-transform: uppercase;
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loginButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  transition-duration: 0.4s;
}


.ozDiv {
  padding: 60px 60px 60px 60px;
  margin: auto;
}

input[type=number] {
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 25px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 10px 20px 10px 20px;
  text-transform: uppercase;
}

input[type=number]:focus {
  border: 3px solid #555;
}

.addOne {
  /*width: 140px;
  height: 45px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;*/width: 200px;
  height: 40px;
  text-align: center;
  margin: 10px 20px 10px 20px;
  text-transform: uppercase;
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.addOne:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  transition-duration: 0.4s;
}

/*table styling*/
.table-hover tbody tr:hover td {
    background: #06B86E;
}
